*
		{box-sizing: border-box;}

		.row{
			width: 100%;
		}


		div.container{
			
			height:300px;
			float: left;
			background-color: grey;
			margin-bottom: 20px;
			margin-left: 20px;
		}
		p.abc{
			text-align: center;
			position: relative;
			top:30px;
			font-family: helvetica;
			padding: 10px;
			top:5px;

		}
		section.button{
			font-family: helvetica;
			float: right;
			width: 60px;
			height: 30px;
			text-align: center;
			background-color: pink;
			border:1px solid black;

		}
		@media (max-width: 767px){
			.col-sm-12{
				float: left;
				width: 90%;
			}
		}



		@media (min-width:768px ) and (max-width: 991px){
			.col-md-6{
				float: left;
				width: 45%;
			}
			.col-md-12{
				float: left;
				width: 92%
			}
		}


		@media (min-width: 992px){
			.col-lg-4{
				float: left;
				width: 30%;
			}
		}

		

		}
